ul li{
    list-style-type:none;
    float:left;
    padding:10px;
}
li a{
    text-decoration: none;
    padding:5px;
    background-color:green;
    color:white;   
}
li a:hover{
    text-decoration: none;
    padding:5px;
    background-color:blue;
    color:white;
}
